{% extends 'base.html' %}
    {% block title %} {{news.title}} {% endblock %}
    {% block content %}
        {% if news %}
            {% for item in news %}
                <h3>
                    <a href="{% url 'news-details' item.id %}">
                        {{item.title}}
                    </a>
                </h3>
                <p>
                    {{item.details}}
                </p>
            {% endfor %}
        {% else %}
            <p>
                <h4>Unable to find News!!</h4>
            </p>
        {% endif %}
    {% endblock %}